<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Afro Flicks</title>
    <style>
      body {
  background-color: #cbad8d;
  font-family: 'Instrument Serif', serif;
}

#h1header {
  color: #304c31;
  font-size: 45px;
  text-indent: 40px;

}

#h2header {
  color: #304c31;
  font-size: 35px;
  text-indent: 100px;
}

.link {
  color: #304c31;
}

ul {
list-style-type: none;
margin: 0;
padding: 0;
overflow: hidden;
background-color: #a48374;
position: fixed;
top: 0;
left: 0;
right: 0;
}

li {
float: right;
}

li a {
display: block;
color: #304c31;
text-align: center;
padding: 14px 20px;
text-decoration: none;
font-size: 22px;
}

li a:hover {
background-color: #83665a;
}

p b a {
  text-decoration: none;
  color: #304c31;
  border: 0.65rem inset #d9c0b0;
  border-radius: 10px;
  background-color: #d9c0b0;
  padding: 14px 40px;
  position: relative;
  margin: 550px;
  font-size: 22px;
}

p b a:hover {
  background-color: #83665a;
}

li a:hover {
background-color: #83665a;
}

.review b a {
  text-decoration: none;
  color: #304c31;
  border: 0.65rem inset #d9c0b0;
  border-radius: 10px;
  background-color: #d9c0b0;
  padding: 14px 40px;
  position: relative;
  margin: 550px;
  font-size: 22px;
}

.review b a:hover {
  background-color: #83665a;
}
  </style>
</head>
<body>
    <ul>
        <li><a href="/appointment">Appointment</a></li>
        <li><a href="/prices">Prices</a></li>
        <li><a href="/review">Review</a></li>
        <li style="float:left"><a class="active" href="/index">AfroFlicks</a></li>
    </ul>
    <br><br><br><br>
    <!-- <h1>Hey Aman, implement your code here and use the styles.css to style.</h1> -->
    <form action="/appointment" method="post">
      <label for="name">Name:</label><br>
      <input type="text" id="name" name="name" required><br>
    
      <label for="phone">Phone Number (Format: 123-456-7890):</label><br>
      <input type="tel" id="phone1" name="phone1" size="3" maxlength="3" required>-
      <input type="tel" id="phone2" name="phone2" size="3" maxlength="3" required>-
      <input type="tel" id="phone" name="phone3"  size="4" maxlength="4" required><br>

      <label for="email">Email:</label><br>
      <input type="email" id="email" name="email" required><br>
    
      <label for="date">Date (Format: dd-mm-yyyy):</label><br>
      <input type="date" id="date" name="date" required><br>
    
      <label for="session">Session Type:</label><br>
      <select id="session" name="session">
        <option value="Birthday">Birthday</option>
        <option value="Graduations">Graduations</option>
        <option value="Wedding">Wedding</option>
        <option value="Casual">Casual</option>
        <option value="Headshot">Headshot</option>
      </select><br><br>
    
      <input type="submit" value="Submit">
    </form>


  </body>
</html>