<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Afro Flicks</title>
  <style>
    body {
      background-color: #cbad8d;
      font-family: 'Instrument Serif', serif;
    }

    ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
      overflow: hidden;
      background-color: #a48374;
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
    }

    li {
      float: right;
    }

    li a {
      display: block;
      color: #304c31;
      text-align: center;
      padding: 14px 20px;
      text-decoration: none;
      font-size: 22px;
    }

    li a:hover {
      background-color: #83665a;
    }

    th {
      background-color: #83665a;
      color: white;
      padding: 12px;
      text-align: left;
    }

    td {
      border: 1px solid #83665a;
      padding: 8px;
      text-align: left;
    }

    tr:nth-child(even) {
      background-color: #d9c0b0;
    }

    h1 {
      color: #304c31;
      font-size: 45px;
      text-indent: 40px;
    }

    
  </style>
</head>
<body>
  <ul>
    <li><a href="/appointment">Appointment</a></li>
    <li><a href="/prices">Prices</a></li>
    <li><a href="/review">Review</a></li>
    <li style="float:left"><a class="active" href="/index">AfroFlicks</a></li>
  </ul>

  <br><br><br><br>

  <h1> Pricing Options</h1>

  <table>
    <tr>
      <td>Basic</td>
      <td>1-hour session, 10 edited photos</td>
      <td>$100 <button><a href="/appointment">Book Now</a></button></td>
    </tr>
    <tr>
      <td>Standard</td>
      <td>2-hour session, 20 edited photos, 1 outfit change</td>
      <td>$200 <button><a href="/appointment">Book Now</a></button></td>
    </tr>
    <tr>
      <td>Premium</td>
      <td>3-hour session, 30 edited photos, 2 outfit changes, 1 location change</td>
      <td>$300 <button><a href="/appointment">Book Now</a></button></td>
    </tr>    
  </table>
  <br>
  <p style="font-size: 19px; color: #371111;">Have a special request?</p>
  <p style="font-size: 18px; color: #000700;">  Give us a call at <Strong> <u> (201)-202-4323</u></Strong></p>
  <br style="line-height: 1.5;">
  <br>


</body>
<footer>
  <h2>About Us</h2>
  <p>Afro Flicks is a professional photography service specializing in capturing beautiful images of people. Our team of experienced photographers is dedicated to providing high-quality photos that you can cherish for a lifetime.</p>
</footer>
</html>
